<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/multimedia/examsocial.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <title><%= title %></title>
        <link rel="stylesheet" href="/exam.css">
        <!-- <link rel="stylesheet" href="/style.css"> -->
    </head>
    <body>
        <header>
            <nav>
                <section class="h1">
                    <a href="/"><img src="/multimedia/logo-final.png" alt="ExamSocial" title="ExamSocial"></a>
                </section>
                <!-- <section>
                    <details open>
                        <summary>Menú</summary>
                        <% if (user) {%>
                            <a href="/feed">Exámenes</a>
                            <a href="/create">Crear</a>
                            <a href="/profile/<%= id %>">Perfil</a>
                            <a href="/exam">Examen de prueba</a>
                            <a href="/logout">Cerrar Sesión</a>
                        <% } else { %>
                            <a href="/signin">Iniciar sesión</a>
                            <a href="/signup">Registrate</a>
                        <% } %>
                    </details>
                </section> -->
            </nav>
        </header>
        <main>
            <section>
                <article>
                    <h2>"<%= title %>"</h2>
                    <h2>Creado por <%= author %></h2>
                    <h2>Creado el <%= exam.createdAt.getDate() %>/<%= exam.createdAt.getMonth()+1 %>/<%= exam.createdAt.getFullYear() %></h2>
                    <p>Cantidad de preguntas <%= questions.length %></p>
                    <% if (usersDone.length >= 1) { %>
                    <p>Usuarios que lo han realizado: <%= usersDone.length %></p>
                    <% } %>
                </article>
                <article>
                    <button>Empezar examen Bv</button>
                </article>
            </section>
            <% for(var i = 0; i < questions.length; i++) { %>
            <section class="question" id="question<%= i %>">
                <h2><%= questions[i].question %></h2>
                <% for (var n = 0; n < questions[i].answers.length; n++) { %>
                <article>
                    <p><%= questions[i].answers[n].answer %></p>
                </article>
                <% } %>
            </section>
            <% } %>
        </main>
        <script src="/create-exam/app.js"></script>
        <script src="/exam-js/app.js"></script>
        <script src="/exam-js/ejemplo/arrays.js"></script>
    </body>
</html>